<template>
  <mdc-toolbar class="mdc-theme--dark">
    <mdc-toolbar-row>
      <mdc-toolbar-section start="true">
        <mdc-toolbar-title>
            <a href="#/">Home</a>
        </mdc-toolbar-title>
      </mdc-toolbar-section>
      <mdc-toolbar-section end="true">
          <a mdc-button href="#/tab-page1">Page1</a>
          <a mdc-button href="#/tab-page2">Page2</a>
          <a mdc-button href="#/tab-page3">Page3</a>
          <a mdc-button href="#/tab-page4">Page4</a>
      </mdc-toolbar-section>
    </mdc-toolbar-row>
  </mdc-toolbar>
</template>
